<form action="/addrecipe" method="post">
  <br>
  Recipe Name<br>
  <input type="text" name="name"><br>
  Description<br>
  <input type="text" name="description"><br>
  Preparation Time<br>
  <input type="text" name="preptime"><br>
  Difficulty<br>
  <input type="text" name="difficulty"><br>
  <input type="submit" value="Submit">
</form>
